{% load static %}
<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
    <div>{% include 'profiles/navbar.html' %}</div>
    <br />
    <h1>Dashboard</h1>
    <br />
    <div>
      <div class="">
        <div class="row" style="width: 95%">
          <div class="col-md">
            <div class="card dashcard1" style="width: 100%">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Total Orders</li>
                <li class="list-group-item">00</li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="card dashcard1" style="width: 100%">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Delivered</li>
                <li class="list-group-item">00</li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="card dashcard1" style="width: 100%">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Pending</li>
                <li class="list-group-item">00</li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="card dashcard1" style="width: 100%">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cancelled</li>
                <li class="list-group-item">00</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="orders">
      <h3>Last 10 orders</h3>
      <br />
      <table class="table">
        <thead
          class="thead-dark"
          style="color: #fff; background-color: rgb(12, 83, 39)"
        >
          <tr>
            <th scope="col">Client</th>
            <th scope="col">Service</th>
            <th scope="col">Location</th>
            <th scope="col">Date/time</th>
            <th scope="col">Status</th>
            <th scope="col">Provider</th>
            <th scope="col">Update</th>
            <th scope="col">Cancel</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr>
            <td><strong>{{booking.serviceuser.name}}</strong></td>
            <td>{{booking.serviceprovider.service}}</td>
            <td>{{booking.meetplace}}</td>
            <td>{{booking.meetdate}}, {{booking.starttime}}</td>
            <td>Pending</td>
            <td>{{booking.serviceprovider.fullname}}</td>
            <td><button type="button" class="btn btn-info">Update</button></td>
            <td>
              <button type="button" class="btn btn-danger">Cancel</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="dashSP">
      <h3>Service Providers</h3>
      <br />
      <div>
        <button type="button" class="btn btn-primary btn-lg btn-block">
          Create Service Provider
        </button>
      </div>
      <br />
      <div>
        <table class="table">
          <thead
            class="thead-dark"
            style="color: #fff; background-color: rgb(12, 83, 39)"
          >
            <tr>
              <th scope="col">Service Provider</th>
              <th scope="col">Service</th>

              <th scope="col">Update</th>
              <th scope="col">Cancel</th>
            </tr>
          </thead>
          <tbody>
            {% for serviceprovider in serviceproviders %}
            <tr>
              <td>{{serviceprovider.fullname}}</td>
              <td>{{i.serviceprovider.service}}</td>

              <td>
                <button type="button" class="btn btn-info">Update</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger">Cancel</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>
        <h3>Applications</h3>
        <br />

        <table class="table">
          <thead
            class="thead-dark"
            style="color: #fff; background-color: rgb(12, 83, 39)"
          >
            <tr>
              <th scope="col">Applicant</th>
              <th scope="col">Service</th>
              <th scope="col">date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark Morty</td>
              <td>Captioning</td>

              <td>02/03/2020</td>
              <td>Pending</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="orders">
    <table class="table">
      <thead
        class="thead-dark"
        style="color: #fff; background-color: rgb(12, 83, 39)"
      >
        <tr>
          <th scope="col">Client</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>

          <th scope="col">Update</th>
          <th scope="col">Cancel</th>
        </tr>
      </thead>
      <tbody>
        {% for serviceuser in serviceusers %}
        <tr>
          <td>{{serviceuser.name}}</td>
          <td>{{serviceuser.phone}}</td>
          <td>{{serviceuser.email}}</td>
          <td>
            <a class="btn btn-info" href="{% url 'profiles:update_serviceuser' serviceuser.id %}">Update</a>
          </td>
          <td>
            <a class="btn btn-danger" href="{% url 'profiles:delete_serviceuser' serviceuser.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </body>
</html>
