{% extends 'profiles/main.html'%}
{% load static %}

{% block content %}
<div class="container fluid">
<div>
    <div class="jumbotron jumbotron-fluid ">

        <picture >
        <source media="(min-width:800px)" srcset="{% static 'images/banner.jpg' %}">
        <img src="{% static 'images/banner.jpg' %}" alt="Bootstrap 4 jumbotron" class="jumbotron__background">
      </picture>
</div>
<div>
    <div class="container">
        <div class="row">
          <div class="col-3">
            some random stuff
            One of two columns
          </div>
          <div class="col-3">
            One of two columns
          </div>
        <div class="row justify-content-start">
          <div class="col-3">
            One of two columns
          </div>
          <div class="col-3">
            One of two columns
          </div>
        </div>
</div>
</div>

{% endblock content %}


