{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dasuns</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link rel="stylesheet" href="{% static '/css/signlogin.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
    {% if user.is_authenticated %}
    <container>
      <nav class="navbar navbar-expand-lg navbar-light bg-light nav-fill">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="{% static 'images/Logo.png' %}"
              alt="logo"
              style="height: 50px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-1" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#services"
                  >Services</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#whoweare">Who we are</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#howitworks">How It works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{user.username}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  ><button type="button" class="btn btn-success">
                    Request Service
                  </button></a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#"
                  ><button type="button" class="btn btn-secondary">
                    Provide Service
                  </button></a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </container>
    {% else %}
    <container>
      <nav class="navbar navbar-expand-lg navbar-light bg-light nav-fill">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="{% static 'images/Logo.png' %}"
              alt="logo"
              style="height: 50px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-3" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#services"
                  >Services</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#whoweare">Who we are</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#howitworks">How It works</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="#pills-home"
                  data-toggle="modal"
                  data-target=".login-register-form"
                >
                  LogIn/SignUp
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  ><button type="button" class="btn btn-success">
                    Request Service
                  </button></a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#"
                  ><button type="button" class="btn btn-secondary">
                    Provide Service
                  </button></a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </container>
    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %} 
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="modal fade login-register-form" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div>
                <a class="navbar-brand" href="#">
                  <img
                    class="logo-img offset-1"
                    src="{% static 'images/Logo.png' %}"
                    alt="Dasuns logo"
                    style="height: 60px"
                /></a>
                <button
                  type="button"
                  class="close-button offset-6"
                  data-dismiss="modal"
                >
                  &times;
                </button>
                <div>
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item text-center">
                      <a
                        class="nav-link active btl"
                        id="pills-home-tab"
                        data-toggle="pill"
                        href="#pills-home"
                        role="tab"
                        aria-controls="pills-home"
                        aria-selected="true"
                        >Login</a
                      >
                    </li>
                    <li class="nav-item text-center">
                      <a
                        class="nav-link btr"
                        id="pills-profile-tab"
                        data-toggle="pill"
                        href="#pills-profile"
                        role="tab"
                        aria-controls="pills-profile"
                        aria-selected="false"
                        >Signup</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="modal-body">
                <div class="tab-content" id="pills-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="pills-home"
                    role="tabpanel"
                    aria-labelledby="pills-home-tab"
                  >
                    <div class="form px-4">
                      <form name="loginform" action="" method="POST">
                        {% csrf_token %}
                        <h1 id="form-title">Login</h1>
                        <input
                          type="text"
                          name="username"
                          class="form-control"
                          placeholder="User Name"
                        />
                        <input
                          type="password"
                          name="password"
                          class="form-control"
                          placeholder="Password"
                        />
                        <button
                          name="loginbtn"
                          type="submit"
                          class="btn btn-success btn-block"
                        >
                          Login
                        </button>
                      </form>
                      <small class="forgot"
                        >Forgot Password?
                        <a href="/password_reset"> Reset password</a></small
                      >
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-profile"
                    role="tabpanel"
                    aria-labelledby="pills-profile-tab"
                  >
                    <div class="form px-4">
                      <form name="registerform" action="" method="POST">
                        {% csrf_token %}
                        <h1 id="form-title">Sign Up</h1>
                        {{registerform.username}} {{registerform.email}}
                        {{registerform.password1}} {{registerform.password2}}
                        <div class="custom-control custom-checkbox">
                          <label>
                            <input
                              type="checkbox"
                              class="checkbox"
                              name="terms"
                              required=""
                            />
                            <small class="terms-word"
                              >I agree to the terms & conditions set by
                              Dasuns</small
                            >
                          </label>
                        </div>
                        <button
                          name="registerbtn"
                          class="btn btn-success btn-block"
                        >
                          Signup
                        </button>
                        {{registerform.errors}}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container1">
        <img
          src="{% static 'images/banner.jpg' %}"
          alt="Snow"
          style="width: 100%"
        />

        <div class="top-right">Top Right</div>
      </div>
    </div>
    <div class="green-service">
      <div>
        <div class="row">
          <div class="col-md">
            <div>
              <img
                src="{% static 'images/physical.png' %}"
                alt="logo"
                style="height: 50px"
              />
            </div>
            <div id="services">All services</div>
          </div>
          <div class="col-md">
            <div>
              <img
                src="{% static 'images/physical.png' %}"
                alt="logo"
                style="height: 50px"
              />
            </div>
            <div>Personal Support Assistance</div>
          </div>
          <div class="col-md">
            <div>
              <img
                src="{% static 'images/physical.png' %}"
                alt="logo"
                style="height: 50px"
              />
            </div>
            <div>Ugandan sign language interval</div>
          </div>
          <div class="col-md">
            <div>
              <img
                src="{% static 'images/physical.png' %}"
                alt="logo"
                style="height: 50px"
              />
            </div>
            <div>International sign language interval</div>
          </div>
          <div class="col-md">
            <div>
              <img
                src="{% static 'images/physical.png' %}"
                alt="logo"
                style="height: 50px"
              />
            </div>
            <div>Mobility Guide</div>
          </div>
          <div class="col-md">
            <div>
              <img
                src="{% static 'images/physical.png' %}"
                alt="logo"
                style="height: 50px"
              />
            </div>
            <div>Captioning</div>
          </div>
        </div>
      </div>
    </div>
    <div class="white-service">
      <h2>All Services</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                  style="padding: 10px"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Personal Support Assistance</h5>
                  <p class="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                  style="padding: 10px"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Ugandan Sign language interpreter</h5>
                  <p class="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                  style="padding: 10px"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    International sign language interpreter
                  </h5>
                  <p class="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  style="padding: 10px"
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mobility Guide</h5>
                  <p class="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  style="padding: 10px"
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Captioning</h5>
                  <p class="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="whoweare" class="whoweare">
      <h2>Who We Are</h2>
      <br />
      <div>
        The Digital Ability Support System (Dasuns) is a social enterprise
        company registered <br />
        in Uganda to promote social and inclusive development through
        facilitating access to <br />
        professional assistive support services and technologies to advance
        rights, choices <br />
        and opportunities for persons with diasabilities
      </div>
    </div>
    <div>
      <div>
        <div id="howitworks" class="howitworks">
          <h2>How It Works</h2>
          <br />
          <br />
          <div class="row">
            <div class="col-md-3">
              <div class="card" style="border-width: 0px">
                <div class="row">
                  <div class="col-md">
                    <img
                      src="{% static 'images/order.png' %}"
                      alt="..."
                      style="padding: 10px; height: 100px; width: 100px"
                    />
                  </div>
                  <div
                    class="col-md"
                    style="align-content: right; padding-top: 40px"
                  >
                    <svg
                      width="em"
                      height="2em"
                      viewBox="0 0 16 16"
                      className="bi bi-arrow-right"
                      fill="#707070"
                      xmlns="http://www.w3.org/2000/svg"
                      float="right"
                    >
                      <path
                        fillRule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Resquest service</h5>
                  <p class="card-text">
                    Browse through our services, submit request details and pay
                    deposit.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="border-width: 0px">
                <div class="row">
                  <div class="col-md">
                    <img
                      src="{% static 'images/getsp.png' %}"
                      alt="..."
                      style="padding: 10px; height: 100px; width: 100px"
                    />
                  </div>
                  <div
                    class="col-md"
                    style="align-content: right; padding-top: 40px"
                  >
                    <svg
                      width="em"
                      height="2em"
                      viewBox="0 0 16 16"
                      className="bi bi-arrow-right"
                      fill="#707070"
                      xmlns="http://www.w3.org/2000/svg"
                      float="right"
                    >
                      <path
                        fillRule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Choose a professional</h5>
                  <p class="card-text">
                    In the list choose a service provider that you want to get
                    service from
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="border-width: 0px">
                <div class="row">
                  <div class="col-md">
                    <img
                      src="{% static 'images/book.png' %}"
                      alt="..."
                      style="padding: 10px; height: 100px; width: 100px"
                    />
                  </div>
                  <div
                    class="col-md"
                    style="align-content: right; padding-top: 40px"
                  >
                    <svg
                      width="em"
                      height="2em"
                      viewBox="0 0 16 16"
                      className="bi bi-arrow-right"
                      fill="#707070"
                      xmlns="http://www.w3.org/2000/svg"
                      float="right"
                    >
                      <path
                        fillRule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Make Appointment</h5>
                  <p class="card-text">
                    Make an appointment according to the providers availability
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="border-width: 0px">
                <div class="row">
                  <div class="col-md">
                    <img
                      src="{% static 'images/relax.png' %}"
                      alt="..."
                      style="padding: 10px; height: 100px; width: 100px"
                    />
                  </div>
                  <div
                    class="col-md"
                    style="align-content: right; padding-top: 40px"
                  >
                    <svg
                      width="em"
                      height="2em"
                      viewBox="0 0 16 16"
                      className="bi bi-arrow-right"
                      fill="#707070"
                      xmlns="http://www.w3.org/2000/svg"
                      float="right"
                    >
                      <path
                        fillRule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Receive service</h5>
                  <p class="card-text">After booking sit back and relax</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <img
                src="{% static 'images/Logo.png' %}"
                alt="logo"
                style="height: 50px"
              />
            </div>
            <div class="col-md">About Us</div>
            <div class="col-md">FAQ</div>
            <div class="col-md">Contact us</div>
            <div class="col-md">
              <div>Follow us</div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static '/js/bootstrap/js/bootstrap.min.js' %%}"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      var form_fields = document.getElementsByTagName("input");
      form_fields[1].placeholder = "User Name";
      form_fields[2].placeholder = "Password";
    </script>
  </body>
</html>
