{% load static %}

<container>
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-fill navbar-right">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        >
        <img
          src="{% static 'images/Logo.png' %}"
          alt="logo"
          style="height: 50px"
      />
    </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse offset-3" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Who we are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">How It works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><button type="button" class="btn btn-secondary">Request Service</button></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#"><button type="button" class="btn btn-secondary">Provide Service</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</container>
