{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dasuns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      /*custom font*/
      @import url(https://fonts.googleapis.com/css?family=Montserrat);

      /*basic reset*/
      * {
        margin: 0;
        padding: 0;
      }

      html {
        height: 100%;
        background: #6441a5; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to left,
          #6441a5,
          #2a0845
        ); /* Chrome 10-25, Safari 5.1-6 */
      }

      body {
        /* font-family: montserrat, arial, verdana; */
        background: transparent;
      }

      /*form styles*/
      #msform {
        text-align: center;
        position: relative;
        margin-top: 30px;
      }

      #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 5px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 10%;
        text-align: left;
        font-size: 15px;

        /*stacking fieldsets above each other*/
        position: relative;
      }

      /*Hide all except first fieldset*/
      #msform fieldset:not(:first-of-type) {
        display: none;
      }

      /*inputs*/
      .fullinput {
        padding: 5px;
        border: 1px solid #40b295;
        border-radius: 10px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        /* font-family: montserrat; */
        color: #40b295;
        font-size: 15px;
      }

      .halfinput {
        padding: 5px;
        border: 1px solid #40b295;
        border-radius: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        color: #40b295;
        font-size: 15px;
      }

      #msform input:focus,
      #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #40b295;
        border-radius: 10px;
        outline-width: 0;
        transition: All 0.5s ease-in;
        -webkit-transition: All 0.5s ease-in;
        -moz-transition: All 0.5s ease-in;
        -o-transition: All 0.5s ease-in;
      }

      /*buttons*/
      #msform .action-button {
        width: 100px;
        background: #40b295;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
        float: right;
      }

      #msform .action-button:hover,
      #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #40b295;
      }

      #msform .action-button-previous {
        width: 100px;
        background: #c5c5f1;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
        float: left;
      }

      #msform .action-button-previous:hover,
      #msform .action-button-previous:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
      }

      /*headings*/
      .fs-title {
        font-size: 18px;
        text-transform: uppercase;
        color: #2c3e50;
        margin-bottom: 10px;
        letter-spacing: 2px;
        font-weight: bold;
      }

      .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
      }

      /*progressbar*/
      #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
      }

      #progressbar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 20%;
        float: left;
        position: relative;
        letter-spacing: 1px;
      }

      #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 24px;
        height: 24px;
        line-height: 26px;
        display: block;
        font-size: 12px;
        color: #333;
        background: white;
        border-radius: 25px;
        margin: 0 auto 10px auto;
      }

      /*progressbar connectors*/
      #progressbar li:after {
        content: "";
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1; /*put it behind the numbers*/
      }

      #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
      }

      /*marking active/completed steps green*/
      /*The number of the step and the connector before it = green*/
      #progressbar li.active:before,
      #progressbar li.active:after {
        background: #40b295;
        color: white;
      }

      /* Not relevant to this form */
      .dme_link {
        margin-top: 30px;
        text-align: center;
      }
      .dme_link a {
        background: #fff;
        font-weight: bold;
        color: #ee0979;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 5px 25px;
        font-size: 12px;
      }

      .dme_link a:hover,
      .dme_link a:focus {
        background: #c5c5f1;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <!-- MultiStep Form -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form id="msform" action="" method="post">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active">Personal Details</li>
            <li>Eligibility</li>
            <li>Evidence of Expertisse</li>
            <li>Referees</li>
            <li>Pricing and Availability</li>
          </ul>
          <!-- fieldsets -->
          <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <input
              class="fullinput"
              type="text"
              name="fullname"
              value=""
              placeholder="Fullname"
            />
            <input
              class="fullinput"
              type="text"
              name="phone"
              value=""
              placeholder="Phone"
            />
            <input
              class="fullinput"
              type="email"
              name="email"
              value=""
              placeholder="Email"
            />
            <input
              class="fullinput"
              type="text"
              name="nin"
              value=""
              placeholder="NIN"
            />
            <input
              class="fullinput"
              type="date"
              name="dob"
              value=""
              placeholder="DOB"
            />
            <select
              class="fullinput"
              class="custom-select my-1 mr-sm-2"
              id="inlineFormCustomSelectPref"
            >
              <option selected>Gender</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
            <input
              class="fullinput"
              class="fullinput"
              type="text"
              name="address"
              value=""
              placeholder="Address"
            />

            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />
          </fieldset>
          <fieldset style="align-items: flex-start">
            <h2 class="fs-title">Eligibility</h2>
            <div>
              As a Dasuns professional service provider, makesure you meet the
              criteria by selecting the options which apply to you below
            </div>
            <div>
              <br />
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Default checkbox
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Default checkbox
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Default checkbox
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Default checkbox
                </label>
                <br />
              </div>
            </div>
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Evidence of Expertise</h2>
            <h3 class="fs-subtitle">
              Please provide your technical training qualifications.
            </h3>
            <label for="myfile">Select a file:</label>
            <input class="fullinput" type="file" id="myfile" name="myfile" />
            <h3 class="fs-subtitle">
              Please provide a link to your portfolio. (Could be a link to a
              website or social media page)
            </h3>
            <input
              class="fullinput"
              type="text"
              name="portfolio"
              id="portfolio"
              placeholder="Portfolio"
            />
            <h3 class="fs-subtitle">
              Please leave it blank if you don't have an online portfolio.
            </h3>
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Create your account</h2>
            <h3 class="fs-subtitle">Fill in your credentials</h3>
            <div class="form-group">
              <label>We only work with professionals:</label>
              <h3 class="fs-subtitle">
                We would like you to tell us more about you and the professional
                services you offer.
              </h3>

              <textarea
                class="fullinput"
                class="form-control"
                rows="5"
              ></textarea>
            </div>
            <div>Provide us with a reference whom we can contact</div>
            <div class="row">
              <div class="col-6">
                <input
                  class="halfinput"
                  type="text"
                  name="ref1Name"
                  id="ref1Name"
                  class="ref1Name"
                  placeholder="Full name"
                />
              </div>
              <div class="col-6">
                <input
                  class="halfinput"
                  type="text"
                  name="ref1title"
                  id="ref1title"
                  class="ref1title"
                  placeholder="Title/Desccription"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <input
                  class="halfinput"
                  type="text"
                  name="ref1email"
                  id="ref1email"
                  class="ref1email"
                  placeholder="Email"
                />
              </div>
              <div class="col-6">
                <input
                  class="halfinput"
                  type="text"
                  name="ref1phone"
                  id="ref1phone"
                  class="ref1phone"
                  placeholder="Phone"
                />
              </div>
            </div>

            <div>Referee 2</div>
            <div class="row">
              <div class="col-6">
                <input
                  class="halfinput"
                  type="text"
                  name="ref2Name"
                  id="ref2Name"
                  class="ref2Name"
                  placeholder="Full name"
                />
              </div>
              <div class="col-6">
                <input
                  class="halfinput"
                  type="text"
                  name="ref2title"
                  id="ref2title"
                  class="ref2title"
                  placeholder="Title/Desccription"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <input
                  class="halfinput"
                  type="text"
                  name="ref2email"
                  id="ref2email"
                  class="ref2email"
                  placeholder="Email"
                />
              </div>
              <div class="col-6">
                <input
                  class="halfinput"
                  type="text"
                  name="ref2phone"
                  id="ref2phone"
                  class="ref2phone"
                  placeholder="Phone"
                />
              </div>
            </div>

            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />
          </fieldset>
          <fieldset>
            <h2 class="fs-title">
              Finally! Enter your service, price and availability
            </h2>
            <h3 class="fs-subtitle">
              We woould like to capture your availability and pricing per serice
            </h3>
            <h3 class="fs-subtitle">
              We would like you to tell us more about you and the professional
              services you offer.
            </h3>

            <div>Service category</div>
            <select
              class="fullinput"
              class="custom-select my-1 mr-sm-2"
              id="inlineFormCustomSelectPref"
            >
              <option selected>Select service category</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
            <div>Service</div>
            <select
              class="fullinput"
              class="custom-select my-1 mr-sm-2"
              id="inlineFormCustomSelectPref"
            >
              <option selected>Select service</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>

            Enter your service availability
            <br />
            Days
            <br />
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Sunday"
                  name="day"
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Sunday
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Monday"
                  name="day"
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Monday
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Tuesday"
                  name="day"
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Tuesday
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Wednesday"
                  name="day"
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Wednesday
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Thursday"
                  name="day"
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Thursday
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Friday"
                  name="day"
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Friday
                </label>
                <br />
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Friday"
                  name="day"
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Friday
                </label>
                <br />
              </div>
            </div>
            Time <br />
            <div>
              <input
                class="fullinput"
                type="time"
                id="starttime"
                name="starttime"
                value="starttime"
              />
              <input
                class="fullinput"
                type="time"
                id="endtime"
                name="endtime"
                value="endtime"
              />
            </div>
            price per visit <br />
            <div>
              <input
                class="fullinput"
                type="text"
                name="price"
                id="price"
                class="price"
                placeholder="Price per visit"
              />
            </div>
            <input
              class="form-check-input"
              type="checkbox"
              value="Agree to T&C"
              name="T&C"
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              I agree to the terms and conditions set by Dasuns.
            </label>
            <br />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
          </fieldset>
        </form>
      </div>
    </div>

    <script>
      //jQuery time
      var current_fs, next_fs, previous_fs; //fieldsets
      var left, opacity, scale; //fieldset properties which we will animate
      var animating; //flag to prevent quick multi-click glitches

      $(".next").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li")
          .eq($("fieldset").index(next_fs))
          .addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate(
          { opacity: 0 },
          {
            step: function (now, mx) {
              //as the opacity of current_fs reduces to 0 - stored in "now"
              //1. scale current_fs down to 80%
              scale = 1 - (1 - now) * 0.2;
              //2. bring next_fs from the right(50%)
              left = now * 50 + "%";
              //3. increase opacity of next_fs to 1 as it moves in
              opacity = 1 - now;
              current_fs.css({
                transform: "scale(" + scale + ")",
                position: "absolute",
              });
              next_fs.css({ left: left, opacity: opacity });
            },
            duration: 800,
            complete: function () {
              current_fs.hide();
              animating = false;
            },
            //this comes from the custom easing plugin
            easing: "easeInOutBack",
          }
        );
      });

      $(".previous").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li")
          .eq($("fieldset").index(current_fs))
          .removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate(
          { opacity: 0 },
          {
            step: function (now, mx) {
              //as the opacity of current_fs reduces to 0 - stored in "now"
              //1. scale previous_fs from 80% to 100%
              scale = 0.8 + (1 - now) * 0.2;
              //2. take current_fs to the right(50%) - from 0%
              left = (1 - now) * 50 + "%";
              //3. increase opacity of previous_fs to 1 as it moves in
              opacity = 1 - now;
              current_fs.css({ left: left });
              previous_fs.css({
                transform: "scale(" + scale + ")",
                opacity: opacity,
              });
            },
            duration: 800,
            complete: function () {
              current_fs.hide();
              animating = false;
            },
            //this comes from the custom easing plugin
            easing: "easeInOutBack",
          }
        );
      });
    </script>
  </body>
</html>
