.btr {
    border-top-right-radius: 5px !important;
}

.btl {
    border-top-left-radius: 5px !important;

}
.btn-success:hover {
    color: #fff;
    background-color: #35d187;
    border-color: #35d187
}

.nav-pills {
    display: table !important;
    width: 100%
}

.nav-pills .nav-link {
    border-radius: 0px;
    text-decoration: none;
}

.nav-pills:hover .nav-link:hover{
    color: rgb(7, 107, 7);
}

.nav-item {
    display: table-cell;
    background: #fff
}

.form {
    padding: 10px;
}

.form input {
    margin-bottom: 15px;
    border-radius: 12px;
    margin-top: 15px;
}

.form input:focus {
    box-shadow: none
}

.form button {
    margin-top: 20px;
    margin-bottom: 15px; 
    width: 100%;
}

.forgot{
    font-size: 12px;
    /* padding-top: 200px; */
}

.forgot a{
    text-decoration: none;
    color: #000;
}

.terms-word {
   font-size: 12px; 

}

#form-title{
    margin-bottom: 30px;
    justify-content: center;

}

.close-button{
    background-color: #fff;
    border: none;
}
.nav-link{
    color: #000;
    background-color:#fff;
}

.nav-pills .nav-link.active{
    color:rgb(7, 107, 7);
    background-color:#fff;
    border-bottom: 2px solid rgb(7, 107, 7);
    font-weight: bold;
    font-size: 20px;
}
