body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.signup-form{
    width: 400px;
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 1px solid gray;
}

.signup-form h1 {
    margin-top: 10px;
    font-family: "montserrat";
    color: #000;
    font-size: 20px;
}

.signup-form input[type=text],
input[type=email],
input[type=password],
input[type=submit] {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid gray;
    outline: gray;
    font-family: "montserrat";
}

.txtb {
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.terms-word {
    font-size: 12px;
}

.signup-btn {
    margin-top: 60px;
    margin-bottom: 20px;
    background: #35d187;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.8s;
}

.signup-btn:hover {
    transform: scale(0.96);
}

.signup-form a {
    text-decoration: none;
    color: #000;
}

.main-booking{
    background-color: #35d187;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  
#booking-card{
width: 50%;
padding: 20px;

}

#form {
    background-color: #FFF;
    width: 100%;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    text-align:center;

}

.heading3 {
    color: #35d187;
    margin-top: 10px;
    margin-left: 50px;
}

#booking{
    /* width: 400px;
    margin-right: auto;
    margin-left: 130px;
    height: 40px; */

    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid gray;
    outline: gray;
    font-family: "montserrat";
}

#endtime, #starttime{
    width: 100px;
    border-width: 2px;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    margin-bottom: 30px;
    margin-left: 35px;
}

#left-time{
    float: left;;
}

#right-time{
    float: right;
}

#book-btn{
width: 50%;
margin-left: 25%;
margin-bottom: 0px;
font-weight: bold;
}
