body {
  /* background-color: aliceblue; */
  background-color: #fff;
  /* background:  linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)); 
 background-repeat: no-repeat;
 background-size: 100%; */
}

.container1 {
  position: relative;
  text-align: center;
  color: white;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.whoweare {
  background-color: #e8e8e8;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.green-service {
  background-color: #40b295;
  padding: 30px;
  /* padding-bottom: 20px; */
  color: #fff;
  align-content: center;
}

.white-service {
  padding: 20px;
  padding-left: 50px;
}

.howitworks {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  background-color: #707070;
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 170px;
  color: #fff;
}

.dashcard1 {
  font-size: 30px;
  margin: 40px;
  color: #40b295;
  /* background-color:rgb(93, 140, 182); */
  /* padding: 20px; */
  border-color: rgb(93, 140, 182);
  width: 80%;
}

.orders {
  margin: 40px;
  width: 95%;
}

.dashSP{
  margin: 40px;
}

.delete{
  margin: top 100px;
  
}

/*SPReg form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 10%;
  text-align: left;
  font-size: 15px;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
.fullinput{
  padding: 5px;
  border: 1px solid #40b295;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  /* font-family: montserrat; */
  color: #40b295;
  font-size: 15px;
}

.halfinput{
  padding: 5px;
  border: 1px solid #40b295;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #40b295;
  font-size: 15px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #40b295;
  border-radius: 10px;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #40b295;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  float:right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #40b295;
}

#msform .action-button-previous {
  width: 100px;
  background: #c5c5f1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  float: left;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #40b295;
  color: white;
}

/* Not relevant to this form */
.dme_link {
  margin-top: 30px;
  text-align: center;
}
.dme_link a {
  background: #fff;
  font-weight: bold;
  color: #ee0979;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
  background: #c5c5f1;
  text-decoration: none;
}