{% comment %} {% extends 'navbar.html' %} {% block title %}Forgot Your
Password?{% endblock %} {% block content %}
<h1>Forgot your password?</h1>
<p>
  Enter your email address below, and we'll email instructions for setting a new
  one.
</p>

<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Send me instructions!" />
</form>
{% endblock %} {% endcomment %}

<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Forgot Your Password?</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles2.css' %}"
    />
  </head>
  <body>
    <div>{% include 'profiles/navbar.html' %}</div>
  {% load crispy_forms_tags %}
  <div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div> 
  </body>
</html>
