<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Enter new password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles2.css' %}"
    />
   </head>
  <body>
    <div>{% include 'profiles/navbar.html' %}</div>
    {% comment %} {% if validlink %}

    <h1>Set a new password!</h1>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Change my password" />
    </form>

    {% else %}

    <p>
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </p>

    {% endif %} {% endcomment %}
     {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Set a new password!</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Change my password</button>
        </form>
    </div>
  </body>
</html>
